@font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 100;
    src: url("");
    src: url("fonts/Vazir-Thin.woff") format("woff"),
      url("fonts/Vazir-Thin.ttf") format("ttf"),
      url("fonts/Vazir-Thin.woff2") format("woff2");
  }
  @font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 300;
    src: url("fonts/Vazir-Light.eot");
    src: url("fonts/Vazir-Light.woff") format("woff"),
      url("fonts/Vazir-Light.ttf") format("ttf"),
      url("fonts/Vazir-Light.woff2") format("woff2");
  }
  
  @font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Vazir-Medium.eot");
    src: url("fonts/Vazir-Medium.woff") format("woff"),
      url("fonts/Vazir-Medium.ttf") format("ttf"),
      url("fonts/Vazir-Medium.woff2") format("woff2");
  }
  @font-face {
    font-family: vazir;
    font-style: normal;
    font-weight: 950;
    src: url("fonts/Vazir-Bold.eot");
    src: url("fonts/Vazir-Bold.woff") format("woff"),
      url("fonts/Vazir-Bold.ttf") format("ttf"),
      url("fonts/Vazir-Bold.woff2") format("woff2");
  }
  
body {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    font-family: vazir;
    background-color: #f0f3f5;
    color: #074173;
    direction: rtl;
}

a {
    text-decoration: none;
}

nav ul {
    background-color: #0C356A;
    font-weight: 950;
    font-size: large;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li {
    float: right;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 20px;
    text-decoration: none;  
}
nav ul li a:hover {
    background-color: #074173;
}
.hero_section h1 {
    width: 90vw;
    display: block;
    text-align: center;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
.hero_section img {
    width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.site_general {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 50px;
    background-color: #153b7b;
    color: white;
    border-radius: 10px;
}
table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse; /* Ensures cells are collapsed */
    text-align: center;
}

th, td {
    padding: 12px;
}

/* Table with border */
.bordered-table {
    border: 2px solid #2B2D42; /* Dark blue border */
}

.bordered-table th {
    border: 1px solid #8D99AE; /* Grayish blue border inside cells */
}
.bordered-table td {
    border: 1px solid #8D99AE; /* Grayish blue border inside cells */
}

/* Table without border */
.no-border-table th, td {
    border: none; /* No border around cells */
}
